<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">

<head>
    <title>Sensors</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='img/sensorfav.jpg') }}">
</head>

<body>
    <div>
        {% block content %}
        {% for x in sensor_to_output %}

        <div id="sensor">
            <div id="block" class="name"> {{x.name}}</div>
            <div id="block" class="value"> {{x.humidity.relativePercentage}} % AAAA</div>
            <div id="block" class="time"> Last update {{x.last_update}} ago</div>
        </div>

        {% endfor %}
        {% endblock %}
    </div>
</body>

</html>